<div class="container">
    <h2>Vessel Edit</h2>
    <div class="form-group">
        <label>Vessel Code</label>
        <input class="form-control" placeholder="Enter code" [(ngModel)]="vessel.code">
        <small class="form-text text-muted">Maximum 7 alphanumberic characters.</small>
    </div>


    <div class="form-group">
        <label>Vessel Name</label>
        <input class="form-control" placeholder="Enter name" [(ngModel)]="vessel.name">
        <small class="form-text text-muted">Maximum 50 characters.</small>
    </div>

    <button (click)="updateVessel()">Update</button>
</div>